<html>

<head>
    <style>
        #container {
            display: flex;
        }

        #pre {
            display: flex;
        }

        table {
            font-family: Verdana;
            font-size: large;
        }

        #pre2 {
            margin-top: 10px;
        }

        legend {
            font-family: Verdana;
            font-size: x-large;
        }

        #container2 {
            margin-left: 200px;
        }

        tr {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        
    </style>
</head>

<body style="background: linear-gradient(to bottom, #f9fafa 0%, #cdd1f7 10%, #f9fafa 20%, #cdd1f7 30%, #f9fafa 40%, #cdd1f7 50%, #f9fafa 60%, #cdd1f7 70%, #f9fafa 80%, #cdd1f7 90%, #f9fafa 100%);" >

    <form id="frm1" action="/post" name="myform" method="post">
        <fieldset>
            <legend>Basic Details</legend>
            <div id="div1">
                <table>
                    <tr>
                        <td>First name :</td>
                        <td><input type="text" id="fname" name="fname"></td>
                        <td>Last name:</td>
                        <td><input type="text" id="lname" name="lname"></td>
                    </tr>


                    <tr>
                        <td>Designation :</td>
                        <td><input type="text" id="des" name="des1"></td>
                        <td>E-Mail</td>
                        <td><input type="text" id="email" name="mail1"></td>
                    </tr>

                    <tr>
                        <td>Contact Number:</td>
                        <td><input type="text" id="con" name="con"></td>
                        <td>Relationship status</td>
                        <td>
                            <select name="relation" id="relation">
                                <% for(var i=0; i< data2.length; i++ ) {%>
                                    <option>
                                        <%= data2[i].opt_value%>
                                    </option>
                                    <%} %>
                            </select>
                        </td>




                    <tr>
                        <td>state</td>
                        <td>
                            <select name="state" id="state">
                                <option hidden disabled selected value>select state:</option>

                                <% for(var i=0; i<state.length; i++ ) {%>
                                    <option value="<%=state[i].id%>">
                                        <%= state[i].state%>
                                    </option>
                                    <%}%>
                            </select>
                        </td>
                        <td>City</td>
                        <td>
                        <select name="city" id="city">
                            <option hidden disabled selected value>select city:</option>
                            
                        </select></td>
                    </tr>






                    <tr>
                        <td>Zipcode</td>
                        <td><input type="text" id="pin" name="pin"></td>

                        <td>Date of birth</td>
                        <td><input type="date" id="date" name="date"></td>
                    </tr>
                    <tr>
                        <td>

                            Gender: Male<input type="radio" id="male" name="gender" value="male">
                            Female: <input type="radio" id="female" name="gender" value="female">
                            Other: <input type="radio" id="othr" name="gender" value="other">
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>




        <div id="div1">
            <fieldset>
                <legend>Education Details</legend>
                <table>
                    <tr>
                        <td>Name Of Corse:</td>
                        <td>
                            <select name="course1" id="cource">
                                <% for(var i=0; i< data3.length; i++ ){%>
                                    <option>
                                        <%= data3[i].opt_value%>
                                    </option>
                                    <%} %>
                            </select>
                        </td>
                        <td>Name Of Board:</td>
                        <td>
                            <select name="board1" id="board">
                                <% for(var i=0; i< data4.length; i++ ){%>
                                    <option>
                                        <%= data4[i].opt_value%>
                                    </option>
                                    <%} %>
                            </select>
                        </td>

                        <td>Passing Year</td>
                        <td><input type="text" id="py" name="py1"></td>
                        <td>Percentage :</td>
                        <td><input type="text" id="per" name="per1"></td>
                        <td><input type="button" value="+" id="sub1" onclick="edu()">
                        </td>
                    </tr>
                    <tr id="edu1"></tr>
                    <tr id="edu2"></tr>
                    <tr id="edu3"></tr>
                    <tr id="edu4"></tr>
                </table>
            </fieldset>
        </div>



        <fieldset>
            <legend>Work Experience</legend>
            <div id="div1">
                <table>
                    <tr>
                        <td>Company name :</td>
                        <td><input type="text" id="cname1" name="cname">
                        </td>
                        <td>Designation :</td>
                        <td><input type="text" id="desi2" name="desi2"></td>

                        <td>Experience From </td>
                        <td><input type="date" id="ex11" name="ex"></td>
                        <td>To :</td>
                        <td><input type="date" id="ex21" name="ex1"></td>
                        <td><input type="button" id="workexp" value="+" onclick="exp()"></td>
                    </tr>
                    <tr id="exp"></tr>
                    <tr id="exp2"></tr>
                    <tr id="exp3"></tr>
                    <tr id="exp4"></tr>
                </table>
            </div>
        </fieldset>







        <div id="container">
            <div id="container1">
                <fieldset>
                    <legend>Language</legend>
                    <table>
                        <tr>
                            <%for(i=0;i< data7.length;i++) {%>
                                <div>

                                    <input type="checkbox" id="<%=data7[i].opt_value%>" name="language"
                                        value="<%=data7[i].opt_value%>" />
                                    <label for="<%=data7[i].opt_value%>">
                                        <%=data7[i].opt_value%>:
                                    </label>
                                    <input type="checkbox" id="read" name="read" value="<%=data7[i].opt_value%>" />
                                    <label for="read">Read:</label>
                                    <input type="checkbox" id="write" name="write" value="<%=data7[i].opt_value%>" />
                                    <label for="write">Write:</label>
                                    <input type="checkbox" id="speak" name="speak" value="<%=data7[i].opt_value%>" />
                                    <label for="speak">Speak:</label>
                                </div>
                                <%}%>

                        </tr>

            </div>
            </table>
            </fieldset>
        </div>

        <div id="container2">
            <fieldset>
                <legend>Technology</legend>
                <table>
                    <tr>
                        <%for(i=0;i< data8.length;i++) {%>
                            <div>
                                <input type="checkbox" id="<%=data8[i].opt_value%>" name="tacname"
                                    value="<%=data8[i].opt_value%>" />
                                <label for="<%=data8[i].opt_value%>">
                                    <%=data8[i].opt_value%>:
                                </label>
                                <input type="radio" id="beg" name="<%=data8[i].opt_value%>" value="beginer">Beginer
                                <!-- <label for="beg">Beginer:</label> -->
                                <input type="radio" id="mid" name="<%=data8[i].opt_value%>" value="mideator">Mideator
                                <!-- <label for="mid">Mideator:</label> -->
                                <input type="radio" id="expr" name="<%=data8[i].opt_value%>" value="expert">Expert
                                <!-- <label for="expert">Expert:</label> -->
                            </div>
                            <%}%>


                    </tr>

                </table>
            </fieldset>
        </div>
        </div>


        <fieldset>
            <legend>Referrance Contact</legend>
            <div id="div1">
                <table>
                    <tr>
                        <td>
                            Name:<input type="text" id="refname" name="refname"> </td>
                        <td>Contact Number:<input type="text" id="refnum" name="refnum"></td>
                        <td>Relation:<input type="text" id="refrel" name="refrel"></td>
                    </tr>



                    <tr>
                        <td>
                            Name:<input type="text" id="refname1" name="refname2"> </td>
                        <td>Contact Number:<input type="text" id="refnum1" name="refnum2"></td>
                        <td>Relation:<input type="text" id="refrel1" name="refrel2"></td>
                    </tr>



                    </td>
                    </tr>
            </div>
            </table>
        </fieldset>



        <fieldset>
            <legend>Preferance</legend>
            <div id="div1">
                <div id="pre">
                    <div id="pre1">
                        <table>
                            <tr>
                                <td>Preferd Location : <select name="location" id="location">
                                        <% for(var i=0; i<data6.length; i++ ){%>
                                            <option>
                                                <%= data6[i].opt_value%>
                                            </option>
                                            <%} %>
                                </td>
                                <td>Notice Period : <input type="text" id="prenot" name="prenot"> </td>
                            </tr>

                            <tr>
                                <td>Expected CTC : <input type="text" id="preectc" name="preectc"> </td>
                                <td>Current CTC : <input type="text" id="precctc" name="precctc"> </td>
                            </tr>
                        </table>
                    </div>
                    <div id="pre2">
                        <table>
                            <tr>
                                <td>Department : </td>
                                <td><select name="department" id="department">
                                        <% for(var i=0; i<data5.length; i++ ){%>
                                            <option>
                                                <%= data5[i].opt_value%>
                                            </option>
                                            <%} %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
        <center><input type="submit" name="submit" value="submit"></center>
    </form>
</body>

</html>

<script>

    var y = 1;
    var d = "";
    function edu() {
        var row1 = document.getElementById("edu1")
        var row2 = document.getElementById("edu2")
        var row3 = document.getElementById("edu3")
        var row4 = document.getElementById("edu4")
        if (y == 1) {
            d += "<td>Name Of Corse:</td>  <td> <select name='course2' id='cource'>   <% for(var i=0; i<data3.length; i++ ){%>    <option ><%= data3[i].opt_value%></option> <%} %> </select></td> <td>Name Of Board:</td>  <td> <select name='board2' id='board'>    <% for(var i=0; i<data4.length; i++ ){%>  <option ><%= data4[i].opt_value%></option> <%} %> </select></td> <td>passing year</td><td><input type='text' id='py' name ='py2'></td><td>persentage :</td><td><input type='text' id='per' name ='per2'></td>";
            row1.innerHTML = d;
            console.log(d);
        }

        if (y == 2) {
            d = "<td>Name Of Corse:</td>  <td> <select name='course3' id='cource'> <% for(var i=0; i<data3.length; i++ ){%>   <option ><%= data3[i].opt_value%></option> <%} %> </select></td> <td>Name Of Board:</td>  <td> <select name='board3' id='board'>    <% for(var i=0; i<data4.length; i++ ){%>  <option><%= data4[i].opt_value%></option> <%} %> </select></td> <td>passing year</td><td><input type='text' id='py' name ='py3'></td><td>persentage :</td><td><input type='text' id='per' name ='per3'></td>";
            row2.innerHTML = d;
            console.log(d);

        }

        if (y == 3) {
            d = "<td>Name Of Corse:</td>  <td> <select name='course4' id='cource'>  <% for(var i=0; i<data3.length; i++ ){%>   <option ><%= data3[i].opt_value%></option> <%} %> </select></td> <td>Name Of Board:</td>  <td> <select name='board4' id='board'>    <% for(var i=0; i<data4.length; i++ ){%>  <option ><%= data4[i].opt_value%></option> <%} %> </select></td> <td>passing year</td><td><input type='text' id='py' name ='py4'></td><td>persentage :</td><td><input type='text' id='per' name ='per4'></td>";
            row3.innerHTML = d;
            console.log(d);

        }

        if (y == 4) {
            d = "<td>Name Of Corse:</td>  <td> <select name='course5' id='cource'>   <% for(var i=0; i<data3.length; i++ ){%>  <option ><%= data3[i].opt_value%></option> <%} %> </select></td> <td>Name Of Board:</td>  <td> <select name='board5' id='board'>    <% for(var i=0; i<data4.length; i++ ){%>  <option><%= data4[i].opt_value%></option> <%} %> </select></td> <td>passing year</td><td><input type='text' id='py' name ='py5'></td><td>persentage :</td><td><input type='text' id='per' name ='per5'></td>";
            row4.innerHTML = d;
            console.log(d);

        }
        y = y + 1
    }







    var x = 1;
    var t = "";
    function exp() {
        var row1 = document.getElementById("exp")
        var row2 = document.getElementById("exp2")
        var row3 = document.getElementById("exp3")
        var row4 = document.getElementById("exp4")
        if (x == 1) {

            t += "<td>company name :</td><td><input type='text' id='cname2' name ='cname'></td><td>Designation :</td><td><input type='text' id='desi22' name ='desi2'></td><td>experience from </td><td><input type='date' id='ex12' name ='ex'></td><td>to :</td><td><input type='date' id='ex22' name ='ex1'></td>";

            row1.innerHTML = t
            console.log(t)
        }

        if (x == 2) {
            t = "<td>company name :</td><td><input type='text' id='cname3' name ='cname'></td><td>Designation :</td><td><input type='text' id='desi23' name ='desi2'></td><td>experience from </td><td><input type='date' id='ex13' name ='ex'></td><td>to :</td><td><input type='date' id='ex23' name ='ex1'></td>";

            row2.innerHTML = t
            console.log(t)
        }

        if (x == 3) {
            t = "<td>company name :</td><td><input type='text' id='cname4' name ='cname'></td><td>Designation :</td><td><input type='text' id='desi24' name ='desi2'></td><td>experience from </td><td><input type='date' id='ex14' name ='ex'></td><td>to :</td><td><input type='date' id='ex24' name ='ex1'></td>";

            row3.innerHTML = t
            console.log(t)
        }

        if (x == 4) {
            t = "<td>company name :</td><td><input type='text' id='cname5' name ='cname'></td><td>Designation :</td><td><input type='text' id='desi25' name ='desi2'></td><td>experience from </td><td><input type='date' id='ex15' name ='ex'></td><td>to :</td><td><input type='date' id='ex25' name ='ex1'></td>";

            row4.innerHTML = t
            console.log(t)

        }
        x = x + 1
    }


    document.addEventListener('DOMContentLoaded', () => {
        const stateSelect = document.getElementById('state');
        const citySelect = document.getElementById('city');

        stateSelect.addEventListener('change', () => {
            const stateId = stateSelect.value;
            console.log(stateId)
            fetch(`/cities?stateId=${stateId}`)
                .then(response => response.json())
                .then(cities => {
                    citySelect.innerHTML = '';
                    cities.forEach(city => {
                        const option = document.createElement('option');
                        option.value = city.city;
                        option.text = city.city;
                        citySelect.add(option);
                    });
                });
        });
    });

</script>