<html>

<head>
    <style>

    </style>
</head>

<body style="background: linear-gradient(to bottom, #f9fafa 0%, #cdd1f7 10%, #f9fafa 20%, #cdd1f7 30%, #f9fafa 40%, #cdd1f7 50%, #f9fafa 60%, #cdd1f7 70%, #f9fafa 80%, #cdd1f7 90%, #f9fafa 100%);" >


    <%-state%>
        <br>
        <br>
        <%-relationship_status%>
            <br>
            <br>
            <%-location%>
                <br>
                <br>

                <%-department%>
                    <br>
                    <br>
                    <%-cource%>

</body>

</html>

<script>

</script>