
<style >
    .button1{
        border: 1;
        border-radius: 2;
        border-color: black;
    }
    .selected{
        background-color: black;
    }

    .unselected{
        background-color: white;
    }
    </style>

    <% if (i==a) { %>
        <button class="button1 selected" >  <a href= "/?id=<%=i%>&sort_by=<%=cs%>&sort=<%=order%>" > Page <%=i%> </a></button>
        <%  }
          else { %>
            <button class="button1 unselected" > <a href=" /?id=<%=i%>&sort_by=<%=cs%>&sort=<%=order%>" > Page <%=i%> </a></button>
            <% }%>



