<style>
  tr {
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: bisque;
  }

  th {
    background-color: bisque;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .search-text {
    text-align: center;
    margin-left: 900px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
  }



  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }

  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
  }

  .input::placeholder,
  .input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
  }

  .input::placeholder {
    color: #8f8f8f;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }

  .icon:focus~.input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
</style>
<body style="background: linear-gradient(to bottom, #f9fafa 0%, #cdd1f7 10%, #f9fafa 20%, #cdd1f7 30%, #f9fafa 40%, #cdd1f7 50%, #f9fafa 60%, #cdd1f7 70%, #f9fafa 80%, #cdd1f7 90%, #f9fafa 100%);" >



<div>
  ^ <-- firstname <br>
    $ <--lastname<br>
      @ <--city<br>
        ~ <--relationship status<br>


</div>

<form action="/seah">


  <div class="input-wrapper">
    <button class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff"
          d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z">
        </path>
        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
      </svg>
    </button>
    <input placeholder="search.." class="input" name="text" type="text">
  </div>
  <input type="submit" value="go">

  <select name="select" id="andor">
    <option value="and">AND</option>
    <option value="or">OR</option>
  </select>
</form>

<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>first name</th>
      <th> last Name</th>
      <th>contact number</th>
      <th>Email</th>
      <th>city</th>
      <th>collage name</th>

    </tr>
  </thead>
  <tbody>
    <% for (let i=0; i < data.length; i++) { %>
      <tr>
        <td>
          <%= data[i]['std_id']%>
        </td>
        <td>
          <%= data[i]['first_name']%>
        </td>
        <td>
          <%= data[i]['last_name'] %>
        </td>
        <td>
          <%= data[i]['mobile'] %>
        </td>
        <td>
          <%= data[i]['email'] %>
        </td>
        <td>
          <%= data[i]['city'] %>
        </td>
        <td>
          <%= data[i]['college_name'] %>
        </td>



      </tr>
      <% } %>

  </tbody>
</table>
</form>
</body>