<html>
<style>
  p {
    border: 2px;
  }
</style>

<body style="background: linear-gradient(to bottom, #f9fafa 0%, #cdd1f7 10%, #f9fafa 20%, #cdd1f7 30%, #f9fafa 40%, #cdd1f7 50%, #f9fafa 60%, #cdd1f7 70%, #f9fafa 80%, #cdd1f7 90%, #f9fafa 100%);" >



  <div style="margin:auto">
    ^ <-- firstname <br>
      $ <--lastname<br>
        @ <--city<br>
          ~ <--relationship status<br>
  </div>

  <form action="/get">


    <input class="search" type="text" placeholder="search Anything" name="search">
    <input type="submit" value="go">

    <select name="select" id="andor">
      <option value="and">AND</option>
      <option value="or">OR</option>
    </select>




    <table border="2">
      <thead>
        <tr>
          <th>select row</th>
          <th>id</th>
          <th>first name</th>
          <th>last name</th>
          <th>mobail</th>

          <th>city</th>
          <th>state</th>
          <th>pincode</th>
          <th>Email</th>

          <th>gender</th>
          <th>date of birth</th>
          <th>Designation</th>
          <th>relation status</th>
          <th>time stamp</th>
          <th>Delete data</th>
          <th>Delete</th>

        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i < dataprt.length; i++) { %>
          <tr>
            <td> <input type="checkbox" id="<%=dataprt[i].candidate_id%>" name="<%=dataprt[i].candidate_id%>"
                value="<%=dataprt[i].candidate_id%>" onclick="getid(this.id)" /></td>
            <td>
              <%= dataprt[i].candidate_id %>
            </td>
            <td>
              <%= dataprt[i].first_name %>
            </td>
            <td>
              <%= dataprt[i].last_name %>
            </td>
            <td>
              <%= dataprt[i].contact_no %>
            </td>

            <td>
              <%= dataprt[i].city%>
            </td>
            <td>
              <%= dataprt[i].state %>
            </td>
            <td>
              <%= dataprt[i].pincode%>
            </td>
            <td>
              <%= dataprt[i].email%>
            </td>

            <td>
              <%= dataprt[i].gender %>
            </td>
            <td>
              <%= dataprt[i].date_of_birth%>
            </td>
            <td>
              <%= dataprt[i].designation %>
            </td>
            <td>
              <%= dataprt[i].relation_status%>
            </td>
            <td>
              <%= dataprt[i].time_stamp%>
            </td>
            <td>
              <%= dataprt[i].is_delete%>
            </td>
            <td>
              <p id="<%= dataprt[i].candidate_id %>" style="color:rgb(19, 19, 20);cursor: pointer;"
                onclick="del(this.id)"> DEL</p>
            </td>



          </tr>
          <% } %>

      </tbody>
    </table>
  </form>
</body>

<p id="deleted" name="deleted" value="delete" onclick="delall(this)" style="color:rgb(28, 28, 29);">DELETE</p>

<script>

  var x;
  var arr = []

  function getid(cid) {
    arr.push(cid)
  }
  console.log(arr)


  async function delall() {


    var text = "you really want to delte this record" + arr;
    if (confirm(text) == true) {
      text = "you really want to delte this record", arr;

      fetch('http://localhost:8080/tableall?id=' + arr, {
        method: 'post',
        headers: {
          "Content-type": 'application/json'
        },
        body: JSON.stringify({
          id: arr
        })
      })

        .then(res => res.json())
        .then(data => {
          //console.log(data.result.length);
          console.log(data)
          console.log("data delete sucesfully!!!!")
          location.reload()
        })
    }

  }


  async function del(abc) {
    x = abc
    console.log(x)

    var text = "you really want to delte this record" + x;
    if (confirm(text) == true) {
      text = "you really want to delte this record", x;
      fetch('http://localhost:8080/table?id=' + x, {
        method: 'post',
        headers: {
          "Content-type": 'application/json'
        },
        body: JSON.stringify({
          id: x
        })
      })

        .then(res => res.json())
        .then(data => {
          //console.log(data.result.length);
          console.log(data)
          console.log("data delete sucesfully!!!!")
          location.reload()
        })
    }

  }



</script>

</html>